In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait as wait
from selenium.webdriver.support import expected_conditions as EC
import time

In [2]:
cloth_df = pd.read_csv('../dataset/stfore_train.csv')
cloth_df.head()

,external_code,retail,season,category,color,image_path,fabric,release_date,restock,0,...,2,3,4,5,6,7,8,9,10,11
0,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.018868,0.037736,0.018868,0.000000,0.000000,0.037736,0.000000,0.000000,0.000000
1,2,51,SS17,long sleeve,violet,PE17/00002.png,acrylic,2016-11-28,0.320755,0.018868,...,0.018868,0.000000,0.000000,0.037736,0.000000,0.000000,0.000000,0.018868,0.018868,0.000000
2,5,10,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.283019,0.018868,...,0.018868,0.000000,0.018868,0.018868,0.018868,0.018868,0.018868,0.000000,0.000000,0.018868
3,9,41,SS17,culottes,yellow,PE17/00009.png,scuba crepe,2016-11-28,0.603774,0.018868,...,0.018868,0.018868,0.000000,0.000000,0.000000,0.018868,0.000000,0.018868,0.000000,0.000000
4,5,13,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.490566,0.018868,...,0.075472,0.000000,0.056604,0.000000,0.037736,0.018868,0.000000,0.000000,0.000000,0.000000

In [3]:
cust_df = pd.read_csv('../dataset/customer_data.csv')
cust_df.head()

   customer  retail  external_code                 data  qty
0         1       0            940  2017-06-10 12:41:57    1
1         1       0            718  2017-06-10 12:41:57    1
2         1       0            825  2017-06-10 12:54:11    1
3         2       1            471  2017-08-03 11:37:27    1
4         2       1            613  2017-08-03 11:37:27    1

In [4]:
cloth_cust_df = pd.merge(cloth_df, cust_df, how='left', on=['external_code', 'retail'])
cloth_cust_df.head()

,external_code,retail,season,category,color,image_path,fabric,release_date,restock,0,...,5,6,7,8,9,10,11,customer,data,qty
0,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,58630.0,2017-08-12 18:43:41,1.0
1,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,154800.0,2017-08-12 22:31:21,1.0
2,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,376707.0,2016-12-15 10:07:08,1.0
3,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,377059.0,2016-12-06 18:22:20,1.0
4,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,377815.0,2016-12-15 10:30:32,1.0

In [5]:
cloth_cust_df = cloth_cust_df[['external_code', 'retail', 'category', 'color', 'fabric', 'customer']]
cloth_cust_df

         external_code  retail     category  color   fabric  customer
0                    5      36  long sleeve   grey  acrylic   58630.0
1                    5      36  long sleeve   grey  acrylic  154800.0
2                    5      36  long sleeve   grey  acrylic  376707.0
3                    5      36  long sleeve   grey  acrylic  377059.0
4                    5      36  long sleeve   grey  acrylic  377815.0
...                ...     ...          ...    ...      ...       ...
1472027           5434      41     culottes  black   cotton  170982.0
1472028           5434      41     culottes  black   cotton  219855.0
1472029           5434      41     culottes  black   cotton  224236.0
1472030           5434      41     culottes  black   cotton  224384.0
1472031           5434      41     culottes  black   cotton  392143.0

[1472032 rows x 6 columns]

In [6]:
cloth_cust_df = cloth_cust_df.assign(product = cloth_cust_df.color.astype(str) + ' ' + \
    cloth_cust_df.fabric.astype(str) + ' ' + cloth_cust_df.category.astype(str))
cloth_cust_df.head()

,external_code,retail,category,color,fabric,customer,product
0,5,36,long sleeve,grey,acrylic,58630.0,grey acrylic long sleeve
1,5,36,long sleeve,grey,acrylic,154800.0,grey acrylic long sleeve
2,5,36,long sleeve,grey,acrylic,376707.0,grey acrylic long sleeve
3,5,36,long sleeve,grey,acrylic,377059.0,grey acrylic long sleeve
4,5,36,long sleeve,grey,acrylic,377815.0,grey acrylic long sleeve

In [7]:
cloth_cust_df = cloth_cust_df.drop(columns=['category', 'color', 'fabric', 'external_code', 'retail'])
cloth_cust_df.head()

   customer                   product
0   58630.0  grey acrylic long sleeve
1  154800.0  grey acrylic long sleeve
2  376707.0  grey acrylic long sleeve
3  377059.0  grey acrylic long sleeve
4  377815.0  grey acrylic long sleeve

In [8]:
cloth_cust_df = cloth_cust_df.dropna().sort_values('customer')
cloth_cust_df

         customer                       product
1421472       0.0       black nice kimono dress
599194        1.0           blue linen culottes
720114        1.0    green silky satin culottes
159486        1.0   black satin cotton culottes
690379        1.0  green cotton solid color top
...           ...                           ...
937259   667073.0      blue dark jeans culottes
1295627  667078.0       black fluid drop sleeve
1255819  667082.0   black matte jersey culottes
1117039  667084.0      green bengaline culottes
1117040  667085.0      green bengaline culottes

[1471217 rows x 2 columns]

In [44]:
prods = cloth_cust_df['product'].value_counts().sort_values(ascending=False)[:100].keys().tolist()

In [45]:
prods[:10]

['black georgette doll dress',
 'black technical culottes',
 'black nice long sleeve',
 'black georgette long sleeve',
 'black scuba crepe culottes',
 'black faux leather long sleeve',
 'black georgette long dress',
 'black bengaline culottes',
 'black milano stitch culottes',
 'black cotton culottes']

In [30]:
# Tutorial: https://scrapfly.io/blog/web-scraping-with-selenium-and-python/
# configure webdriver
options = Options()
options.headless = True  # hide GUI
options.add_argument("--window-size=1920,1080")  # set window size to native GUI size
options.add_argument("start-maximized")  # ensure window is full-screen

chrome_options = webdriver.ChromeOptions()
chrome_options.add_experimental_option(
    # this will disable image loading
    "prefs", {"profile.managed_default_content_settings.images": 2}
)
chrome_options.add_argument('disable-notifications')

driver = webdriver.Chrome(options=options, chrome_options=chrome_options)
driver.get('http://aritzia.com/en/clothing')

# Scroll down
driver.execute_script("window.scrollTo(0, 1080)") 

SCROLL_PAUSE_TIME = 10

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

# driver.find_element(By.XPATH, "//span[text()='4']").click()
# print('Change to View 4')

# search = driver.find_element(By.CSS_SELECTOR, 'a.ws-normal ttc ttu-fr overflow-visible')
names = driver.find_elements(By.XPATH, "//div[contains(@class, 'f0 product-name ar-product-name js-product-plp-name pr4-ns')]")
# src = driver.find_elements(By.XPATH, "//div[@class='product-image js-product-plp-image tc  js-product-plp-image--trigger-qv]/a/img").__getattribute__('src')
# src = driver.find_elements(By.XPATH, "//div//a//img[contains(@class, 'lazy w-auto w-100-l h-auto db') and starts-with(@src, 'https://aritzia.scene7.com/is/image/Aritzia/medium/')]")

# links = []
# for s in src:
#     links.append(s.get_attribute("src"))
# driver.quit()

/var/folders/60/92v1zbc11svf39kz6pl6njxh0000gn/T/ipykernel_64591/2823445489.py:15: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(options=options, chrome_options=chrome_options)

In [31]:
items = [n.text for n in names]
items

['The Powder Parka™',
 'Cozy Fleece Perfect Zip Hoodie',
 'Divinity Jumpsuit',
 'Cozy Fleece Boyfriend Hoodie',
 'Avery Overall',
 'The Ganna™ Shirt Jacket',
 'Greenwich Pant',
 'Justin Jacket',
 'Supply Cargo Pant',
 'TnaCHILL™ Atmosphere Hi-Rise Legging',
 'Society Sweater',
 'Refined Cargo Pant',
 'Power Hip Blazer',
 'Alanya Pant',
 'Alftan Luxe Cashmere Cardigan',
 'The Slouch™ Coat New',
 'Alchemy Dress',
 'Ty Cardigan',
 'Contour Crew Longsleeve Bodysuit',
 'The Effortless Pant',
 'Izzy Cardigan',
 'Ascendant Pant',
 'Troop Cargo Pant',
 'Ronnie Sweater',
 'TnaBUTTER™ Rhythm Jumpsuit',
 'Weekend T-Shirt',
 'Brennan Pant',
 'Delilah Mini Dress',
 'Sno Polar Shirt',
 'The Super Puff™ Long',
 'Only Slip Midi Dress',
 'Contour Crew T-Shirt',
 'Agency Blazer',
 'Pavant Quilted Jacket',
 'Moonstruck Dress',
 'Runaway Blouse',
 'Sprinkles Cardigan',
 'Pleated Pant',
 'Troop Cargo Pant',
 'Cozy Fleece Perfect Hoodie',
 'Cozy Fleece Mega Sweatpant',
 'Sno Polar Oversized Zip Hoodie',
 'Aster Free Lounge Pant',
 'The Summit Parka',
 'Sno Polar ¼ Zip Hip Sweater',
 'Picture Cargo Pant',
 'The Super Puff™',
 'Ribbed Waist T-Shirt',
 'Chase Dress',
 'Little Cropped Jacket',
 'Contour Tank Bodysuit',
 'The New Only Coat',
 'Daughter Dress',
 'The Melina™ Pant',
 'Carter Blouse',
 'Retrospect Sweater',
 'The Super Puff™',
 'The Super Puff™ Mid',
 'The Powder Parka™',
 'The Super Puff₂O™ Long',
 'The Ganna™ Shirt Jacket',
 'The Super Puff™ Shorty',
 'Jimmy Pant',
 'The Powder Parka™ Long',
 'The Super Puff₂O™',
 'Cyprie Sweater',
 'The Connor Coat',
 'The Slouch™ Coat New',
 'The Cocoon Coat New',
 'The Powder Parka™ Short',
 'The Super Puff₂O™ Shorty',
 'The Super Puff™ Long',
 'The New Stedman Coat',
 'The Constant™ Coat',
 'The Super Puff™',
 'Unwind Cardigan',
 'The Summit Parka Short',
 'The Ganna™ Long Shirt Jacket',
 'Clara Sweater',
 'Hillside Sweater']

In [43]:
len(items)

100

In [46]:
data_dict = dict(zip(prods, items))
print(data_dict)

{'black georgette doll dress': 'The Powder Parka™', 'black technical culottes': 'Cozy Fleece Perfect Zip Hoodie', 'black nice long sleeve': 'Divinity Jumpsuit', 'black georgette long sleeve': 'Cozy Fleece Boyfriend Hoodie', 'black scuba crepe culottes': 'Avery Overall', 'black faux leather long sleeve': 'The Ganna™ Shirt Jacket', 'black georgette long dress': 'Greenwich Pant', 'black bengaline culottes': 'Justin Jacket', 'black milano stitch culottes': 'Supply Cargo Pant', 'black cotton culottes': 'TnaCHILL™ Atmosphere Hi-Rise Legging', 'blue dark jeans culottes': 'Society Sweater', 'black nice short cardigan': 'Refined Cargo Pant', 'violet georgette short sleeves': 'Power Hip Blazer', 'black silky satin long dress': 'Alanya Pant', 'black georgette short sleeves': 'Alftan Luxe Cashmere Cardigan', 'black matte jersey solid color top': 'The Slouch™ Coat New', 'black cotton printed shirt': 'Alchemy Dress', 'black scuba crepe doll dress': 'Ty Cardigan', 'white georgette short sleeves': 'Contour Crew Longsleeve Bodysuit', 'blue light jeans culottes': 'The Effortless Pant', 'white georgette sleeveless': 'Izzy Cardigan', 'black tulle long dress': 'Ascendant Pant', 'black georgette sleeveless': 'Troop Cargo Pant', 'white tulle patterned top': 'Ronnie Sweater', 'violet georgette doll dress': 'TnaBUTTER™ Rhythm Jumpsuit', 'green bengaline culottes': 'Weekend T-Shirt', 'black scuba crepe drop sleeve': 'Brennan Pant', 'black faux leather short coat': 'Delilah Mini Dress', 'grey nice long sleeve': 'Sno Polar Shirt', 'brown frise kimono dress': 'The Super Puff™ Long', 'grey acrylic kimono dress': 'Only Slip Midi Dress', 'violet georgette sleeveless': 'Contour Crew T-Shirt', 'brown nice long sleeve': 'Agency Blazer', 'black crepe long coat': 'Pavant Quilted Jacket', 'brown acrylic kimono dress': 'Moonstruck Dress', 'black embossed doll dress': 'Runaway Blouse', 'black scuba crepe long sleeve': 'Sprinkles Cardigan', 'black embossed culottes': 'Pleated Pant', 'white matte jersey printed shirt': 'Troop Cargo Pant', 'black polyviscous culottes': 'Cozy Fleece Perfect Hoodie', 'white silky satin culottes': 'Cozy Fleece Mega Sweatpant', 'violet georgette long sleeve': 'Sno Polar Oversized Zip Hoodie', 'black georgette culottes': 'Aster Free Lounge Pant', 'green cotton culottes': 'The Summit Parka', 'brown georgette long sleeve': 'Sno Polar ¼ Zip Hip Sweater', 'black tulle doll dress': 'Picture Cargo Pant', 'white cotton printed shirt': 'The Super Puff™', 'grey georgette doll dress': 'Ribbed Waist T-Shirt', 'black foam rubber long coat': 'Chase Dress', 'violet nice long sleeve': 'Little Cropped Jacket', 'yellow georgette short sleeves': 'Contour Tank Bodysuit', 'blue heavy jeans culottes': 'The New Only Coat', 'black lace sleeveless': 'Daughter Dress', 'black satin cotton culottes': 'The Melina™ Pant', 'black embossed short sleeves': 'Carter Blouse', 'violet lurex solid color top': 'Retrospect Sweater', 'black tulle patterned top': 'The Super Puff™', 'violet silky satin long dress': 'The Super Puff™ Mid', 'grey frise kimono dress': 'The Powder Parka™', 'green georgette doll dress': 'The Super Puff₂O™ Long', 'grey acrylic maxi': 'The Ganna™ Shirt Jacket', 'violet bengaline culottes': 'The Super Puff™ Shorty', 'black embossed long dress': 'Jimmy Pant', 'violet frise kimono dress': 'The Powder Parka™ Long', 'black viscose twill culottes': 'The Super Puff₂O™', 'black lurex solid color top': 'Cyprie Sweater', 'green viscose twill culottes': 'The Connor Coat', 'white georgette long sleeve': 'The Slouch™ Coat New', 'grey scuba crepe culottes': 'The Cocoon Coat New', 'black silky satin culottes': 'The Powder Parka™ Short', 'black cloth medium coat': 'The Super Puff₂O™ Shorty', 'black embossed jumpsuit': 'The Super Puff™ Long', 'black cloth long coat': 'The New Stedman Coat', 'grey matte jersey printed shirt': 'The Constant™ Coat', 'black georgette drop sleeve': 'The Super Puff™', 'brown cotton culottes': 'Unwind Cardigan', 'yellow crepe trapeze dress': 'The Summit Parka Short', 'brown matte jersey doll dress': 'The Ganna™ Long Shirt Jacket', 'red georgette sleeveless': 'Clara Sweater', 'green bengaline drop sleeve': 'Hillside Sweater', 'black acrylic maxi': 'The Stedman Coat', 'white georgette long dress': 'The Cocoon Long Coat', 'black frise kimono dress': 'The Duvet Puffer Mid', 'black georgette jumpsuit': 'Cuffed Tech Cashmere Gloves', 'grey acrylic long sleeve': 'Sno Polar Zip-Up', 'white viscose twill short sleeves': 'The Duvet Puffer Short', 'grey cotton culottes': 'The Slouch', 'grey polyviscous trapeze dress': 'The Super Puff Bomber', 'black nice medium cardigan': 'Hush Knit V-Neck Sweater', 'red georgette long dress': 'Thermal Cowlneck', 'black silky satin sleeveless': 'Crown Puffer Long', 'brown embossed drop sleeve': 'Crown Puffer Long', 'black devore solid color top': 'Cody Massive Polar Vest', 'grey lurex solid color top': 'The Mega Puff', 'grey polyviscous culottes': 'The Cloud Puff', 'black crepe trapeze dress': 'Harper Sweater', 'black georgette gitana skirt': 'Bigfoot Polar Zip Hoodie', 'black nice short sleeves': 'Sherpa Long Liner Jacket', 'blue chambree culottes': 'Ellipsis Luxe Cashmere Tank', 'violet silky satin sleeveless': 'The Connor Long Coat'}

In [47]:
cloth_cust_df['aritzia'] = cloth_cust_df['product'].map(data_dict)
cloth_cust_df

         customer                       product           aritzia
1421472       0.0       black nice kimono dress               NaN
599194        1.0           blue linen culottes               NaN
720114        1.0    green silky satin culottes               NaN
159486        1.0   black satin cotton culottes  The Melina™ Pant
690379        1.0  green cotton solid color top               NaN
...           ...                           ...               ...
937259   667073.0      blue dark jeans culottes   Society Sweater
1295627  667078.0       black fluid drop sleeve               NaN
1255819  667082.0   black matte jersey culottes               NaN
1117039  667084.0      green bengaline culottes   Weekend T-Shirt
1117040  667085.0      green bengaline culottes   Weekend T-Shirt

[1471217 rows x 3 columns]

In [49]:
cloth_cust_df = cloth_cust_df.dropna()
cloth_cust_df

         customer                      product             aritzia
159486        1.0  black satin cotton culottes    The Melina™ Pant
819229        1.0    black nice short cardigan  Refined Cargo Pant
71372         2.0   white georgette sleeveless       Izzy Cardigan
1124994       4.0     black bengaline culottes       Justin Jacket
552465        4.0        brown cotton culottes     Unwind Cardigan
...           ...                          ...                 ...
1084041  667071.0     green bengaline culottes     Weekend T-Shirt
1084042  667072.0     green bengaline culottes     Weekend T-Shirt
937259   667073.0     blue dark jeans culottes     Society Sweater
1117039  667084.0     green bengaline culottes     Weekend T-Shirt
1117040  667085.0     green bengaline culottes     Weekend T-Shirt

[801468 rows x 3 columns]

In [51]:
cloth_cust_df.to_csv('../dataset/aritzia_test.csv', index=False)