In [42]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
cloth_df = pd.read_csv('../dataset/stfore_train.csv')
cloth_df.head()

,external_code,retail,season,category,color,image_path,fabric,release_date,restock,0,...,2,3,4,5,6,7,8,9,10,11
0,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.018868,0.037736,0.018868,0.000000,0.000000,0.037736,0.000000,0.000000,0.000000
1,2,51,SS17,long sleeve,violet,PE17/00002.png,acrylic,2016-11-28,0.320755,0.018868,...,0.018868,0.000000,0.000000,0.037736,0.000000,0.000000,0.000000,0.018868,0.018868,0.000000
2,5,10,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.283019,0.018868,...,0.018868,0.000000,0.018868,0.018868,0.018868,0.018868,0.018868,0.000000,0.000000,0.018868
3,9,41,SS17,culottes,yellow,PE17/00009.png,scuba crepe,2016-11-28,0.603774,0.018868,...,0.018868,0.018868,0.000000,0.000000,0.000000,0.018868,0.000000,0.018868,0.000000,0.000000
4,5,13,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.490566,0.018868,...,0.075472,0.000000,0.056604,0.000000,0.037736,0.018868,0.000000,0.000000,0.000000,0.000000

In [4]:
cust_df = pd.read_csv('../dataset/customer_data.csv')
cust_df.head()

   customer  retail  external_code                 data  qty
0         1       0            940  2017-06-10 12:41:57    1
1         1       0            718  2017-06-10 12:41:57    1
2         1       0            825  2017-06-10 12:54:11    1
3         2       1            471  2017-08-03 11:37:27    1
4         2       1            613  2017-08-03 11:37:27    1

In [33]:
cloth_cust_df = pd.merge(cloth_df, cust_df, how='left', on=['external_code', 'retail'])
cloth_cust_df.head()

,external_code,retail,season,category,color,image_path,fabric,release_date,restock,0,...,5,6,7,8,9,10,11,customer,data,qty
0,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,58630.0,2017-08-12 18:43:41,1.0
1,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,154800.0,2017-08-12 22:31:21,1.0
2,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,376707.0,2016-12-15 10:07:08,1.0
3,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,377059.0,2016-12-06 18:22:20,1.0
4,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,377815.0,2016-12-15 10:30:32,1.0

In [34]:
cloth_cust_df.shape

(1472032, 24)

In [35]:
cloth_cust_df = cloth_cust_df[['external_code', 'retail', 'category', 'color', 'fabric', 'customer']]
cloth_cust_df

         external_code  retail     category  color   fabric  customer
0                    5      36  long sleeve   grey  acrylic   58630.0
1                    5      36  long sleeve   grey  acrylic  154800.0
2                    5      36  long sleeve   grey  acrylic  376707.0
3                    5      36  long sleeve   grey  acrylic  377059.0
4                    5      36  long sleeve   grey  acrylic  377815.0
...                ...     ...          ...    ...      ...       ...
1472027           5434      41     culottes  black   cotton  170982.0
1472028           5434      41     culottes  black   cotton  219855.0
1472029           5434      41     culottes  black   cotton  224236.0
1472030           5434      41     culottes  black   cotton  224384.0
1472031           5434      41     culottes  black   cotton  392143.0

[1472032 rows x 6 columns]

In [36]:
cloth_cust_df.dropna()

         external_code  retail     category  color   fabric  customer
0                    5      36  long sleeve   grey  acrylic   58630.0
1                    5      36  long sleeve   grey  acrylic  154800.0
2                    5      36  long sleeve   grey  acrylic  376707.0
3                    5      36  long sleeve   grey  acrylic  377059.0
4                    5      36  long sleeve   grey  acrylic  377815.0
...                ...     ...          ...    ...      ...       ...
1472027           5434      41     culottes  black   cotton  170982.0
1472028           5434      41     culottes  black   cotton  219855.0
1472029           5434      41     culottes  black   cotton  224236.0
1472030           5434      41     culottes  black   cotton  224384.0
1472031           5434      41     culottes  black   cotton  392143.0

[1471217 rows x 6 columns]

In [37]:
cloth_cust_df = cloth_cust_df.assign(product = cloth_cust_df.color.astype(str) + ' ' + \
    cloth_cust_df.fabric.astype(str) + ' ' + cloth_cust_df.category.astype(str))
cloth_cust_df.head()

,external_code,retail,category,color,fabric,customer,product
0,5,36,long sleeve,grey,acrylic,58630.0,grey acrylic long sleeve
1,5,36,long sleeve,grey,acrylic,154800.0,grey acrylic long sleeve
2,5,36,long sleeve,grey,acrylic,376707.0,grey acrylic long sleeve
3,5,36,long sleeve,grey,acrylic,377059.0,grey acrylic long sleeve
4,5,36,long sleeve,grey,acrylic,377815.0,grey acrylic long sleeve

In [38]:
cloth_cust_df = cloth_cust_df.drop(columns=['category', 'color', 'fabric', 'external_code', 'retail'])
cloth_cust_df.head()

   customer                   product
0   58630.0  grey acrylic long sleeve
1  154800.0  grey acrylic long sleeve
2  376707.0  grey acrylic long sleeve
3  377059.0  grey acrylic long sleeve
4  377815.0  grey acrylic long sleeve

In [40]:
len(cloth_cust_df['customer'].unique())

483989

In [41]:
len(cloth_cust_df['product'].unique())

1336

In [50]:
cloth_cust_df = cloth_cust_df.dropna().sort_values('customer')

In [51]:
cloth_cust_df.to_csv('../dataset/product.csv')

In [52]:
cloth_cust_df

         customer                       product
1421472       0.0       black nice kimono dress
599194        1.0           blue linen culottes
720114        1.0    green silky satin culottes
159486        1.0   black satin cotton culottes
690379        1.0  green cotton solid color top
...           ...                           ...
937259   667073.0      blue dark jeans culottes
1295627  667078.0       black fluid drop sleeve
1255819  667082.0   black matte jersey culottes
1117039  667084.0      green bengaline culottes
1117040  667085.0      green bengaline culottes

[1471217 rows x 2 columns]

In [65]:
items = set(cloth_cust_df['product'])
items = ['customer'] + list(items)
expanded_df = pd.DataFrame(columns=items)
expanded_df

Empty DataFrame
Columns: [customer, green embossed long dress, violet tulle patterned top, grey viscose twill short sleeves, violet tulle gitana skirt, blue marocain sleeveless, black nice long duster, brown silky satin long dress, red matte jersey patterned top, brown georgette doll dress, brown cotton capris, green bengaline culottes, brown lurex solid color top, white macrame drop sleeve, violet polyviscous culottes, grey nice kimono dress, red georgette solid color top, yellow cotton sleeveless, white frise patterned top, grey lurex long dress, blue webbing medium cardigan, yellow cotton jumpsuit, brown nice sleeveless, grey silky satin sleeveless, blue frise sleeveless, violet foam rubber short coat, grey cotton culottes, yellow cotton culottes, grey embossed culottes, violet nice medium cardigan, blue viscose twill culottes, yellow jacquard drop sleeve, violet technical culottes, white flamed solid color top, white silky satin shirt dress, grey hron long sleeve, blue jacquard long sleeve, black tencel culottes, grey tulle solid color top, brown lurex kimono dress, brown cloth long coat, black technical sheath dress, red cloth medium coat, violet georgette solid color top, white mohair long sleeve, black velvet doll dress, black paillettes short sleeves, blue dark jeans short coat, black fur medium coat, white lace drop sleeve, brown acrylic sleeveless, black technical trapeze dress, brown fluid trapeze dress, grey embossed shirt dress, red faux leather culottes, brown georgette gitana skirt, grey crepe trapeze dress, white crepe maxi, white jacquard culottes, brown bengaline drop sleeve, blue crepe long sleeve, red matte jersey sheath dress, violet acrylic solid color top, brown lace short sleeves, white tulle kimono dress, yellow scuba crepe sheath dress, green plisse sheath dress, brown silky satin sleeveless, black crepe long sleeve, violet silky satin medium coat, brown cotton long dress, yellow acrylic maxi, red matte jersey long dress, yellow crepe sleeveless, black goose long coat, white georgette kimono dress, red flamed solid color top, blue faux leather drop sleeve, white polyviscous sheath dress, blue georgette doll dress, yellow georgette doll dress, brown technical culottes, blue dark jeans shorts, brown embossed doll dress, black georgette culottes, green viscose twill short sleeves, orange lurex culottes, brown scuba crepe doll dress, yellow georgette long sleeve, brown technical doll dress, grey hron short cardigan, green paillettes sleeveless, green cady sleeveless, white fur long sleeve, brown frise sleeveless, violet plumetis short sleeves, green linen sleeveless, grey nice long sleeve, brown georgette long dress, black polyviscous long sleeve, ...]
Index: []

[0 rows x 1337 columns]

In [66]:
for index, row in cloth_cust_df.iterrows():
    cust = int(row['customer'])
    product_name = row['product']

    if cust in expanded_df['customer']:
        expanded_df.loc[expanded_df.customer == cust, product_name] = 1
    else:
        expanded_df.loc[len(expanded_df)] = 0
        expanded_df.iloc[-1, expanded_df.columns.get_loc('customer')] = cust
        expanded_df.loc[expanded_df.customer == cust, product_name] = 1

expanded_df.tail()

KeyboardInterrupt:

In [67]:
expanded_df

,customer,green embossed long dress,violet tulle patterned top,grey viscose twill short sleeves,violet tulle gitana skirt,blue marocain sleeveless,black nice long duster,brown silky satin long dress,red matte jersey patterned top,brown georgette doll dress,...,violet bengaline capris,red cotton solid color top,blue linen shirt dress,grey matte jersey culottes,green tulle solid color top,blue nice sleeveless,black lace culottes,blue bengaline miniskirt,brown cotton shorts,black velvet trapeze dress
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69008,69008,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69009,69009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69010,69011,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69011,69011,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69012,69012,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
expanded_df.to_csv('../dataset/ohe_products.csv')

In [71]:
product_only_df = expanded_df.drop(columns=['customer'])

In [88]:
common_items = apriori(product_only_df, use_colnames=True, verbose=1)
common_items.head()

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [87]:
rules = association_rules(common_items, metric="confidence", min_threshold=0.6)
rules.head()

ValueError: The input DataFrame `df` containing the frequent itemsets is empty.