In [1]:
import pandas as pd

In [2]:
cloth_df = pd.read_csv('../dataset/stfore_train.csv')
cloth_df.head()

,external_code,retail,season,category,color,image_path,fabric,release_date,restock,0,...,2,3,4,5,6,7,8,9,10,11
0,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.018868,0.037736,0.018868,0.000000,0.000000,0.037736,0.000000,0.000000,0.000000
1,2,51,SS17,long sleeve,violet,PE17/00002.png,acrylic,2016-11-28,0.320755,0.018868,...,0.018868,0.000000,0.000000,0.037736,0.000000,0.000000,0.000000,0.018868,0.018868,0.000000
2,5,10,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.283019,0.018868,...,0.018868,0.000000,0.018868,0.018868,0.018868,0.018868,0.018868,0.000000,0.000000,0.018868
3,9,41,SS17,culottes,yellow,PE17/00009.png,scuba crepe,2016-11-28,0.603774,0.018868,...,0.018868,0.018868,0.000000,0.000000,0.000000,0.018868,0.000000,0.018868,0.000000,0.000000
4,5,13,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.490566,0.018868,...,0.075472,0.000000,0.056604,0.000000,0.037736,0.018868,0.000000,0.000000,0.000000,0.000000

In [4]:
cust_df = pd.read_csv('../dataset/customer_data.csv')
cust_df.head()

   customer  retail  external_code                 data  qty
0         1       0            940  2017-06-10 12:41:57    1
1         1       0            718  2017-06-10 12:41:57    1
2         1       0            825  2017-06-10 12:54:11    1
3         2       1            471  2017-08-03 11:37:27    1
4         2       1            613  2017-08-03 11:37:27    1

In [13]:
cloth_cust_df = pd.merge(cloth_df, cust_df, how='left', on=['external_code', 'retail'])
cloth_cust_df.head()

,external_code,retail,season,category,color,image_path,fabric,release_date,restock,0,...,5,6,7,8,9,10,11,customer,data,qty
0,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,58630.0,2017-08-12 18:43:41,1.0
1,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,154800.0,2017-08-12 22:31:21,1.0
2,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,376707.0,2016-12-15 10:07:08,1.0
3,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,377059.0,2016-12-06 18:22:20,1.0
4,5,36,SS17,long sleeve,grey,PE17/00005.png,acrylic,2016-11-28,0.415094,0.018868,...,0.018868,0.0,0.0,0.037736,0.0,0.0,0.0,377815.0,2016-12-15 10:30:32,1.0

In [14]:
cloth_cust_df.shape

(1472032, 24)

In [15]:
cloth_cust_df = cloth_cust_df[['external_code', 'retail', 'category', 'color', 'fabric', 'customer']]
cloth_cust_df

         external_code  retail     category  color   fabric  customer
0                    5      36  long sleeve   grey  acrylic   58630.0
1                    5      36  long sleeve   grey  acrylic  154800.0
2                    5      36  long sleeve   grey  acrylic  376707.0
3                    5      36  long sleeve   grey  acrylic  377059.0
4                    5      36  long sleeve   grey  acrylic  377815.0
...                ...     ...          ...    ...      ...       ...
1472027           5434      41     culottes  black   cotton  170982.0
1472028           5434      41     culottes  black   cotton  219855.0
1472029           5434      41     culottes  black   cotton  224236.0
1472030           5434      41     culottes  black   cotton  224384.0
1472031           5434      41     culottes  black   cotton  392143.0

[1472032 rows x 6 columns]

In [16]:
cloth_cust_df.dropna()

         external_code  retail     category  color   fabric  customer
0                    5      36  long sleeve   grey  acrylic   58630.0
1                    5      36  long sleeve   grey  acrylic  154800.0
2                    5      36  long sleeve   grey  acrylic  376707.0
3                    5      36  long sleeve   grey  acrylic  377059.0
4                    5      36  long sleeve   grey  acrylic  377815.0
...                ...     ...          ...    ...      ...       ...
1472027           5434      41     culottes  black   cotton  170982.0
1472028           5434      41     culottes  black   cotton  219855.0
1472029           5434      41     culottes  black   cotton  224236.0
1472030           5434      41     culottes  black   cotton  224384.0
1472031           5434      41     culottes  black   cotton  392143.0

[1471217 rows x 6 columns]

In [17]:
cloth_cust_df.to_csv('../dataset/product_data.csv')